/* Los estilos de tu proyecto */
.bg-image1 {
  background-image: url('../assets/images/taxi.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin-top: 50px;
}
.bg-orange{
  background-color: #FFC107;
  /* width: auto;
  float: right; */
}
.bg-image2 {
  background-image: url('../assets/images/conduce.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .hero {
    height: 440px;
  }
 }

@media (min-width: 992px) {
  .hero {
    height: 660px;  
  }

  .galery {
    height: 460px; 
  }
}