/* Los estilos de tu proyecto */
* {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.navbar {
  background-color: white;
}
.bg-image1 {
  background-image: url('../assets/images/taxi.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  margin-top: 0;
}
.row {
  margin: 0;
}
.bg-orange{
  background-color: #FFC107;
  /* width: auto;
  float: right; */
}
.border {
  border: 3px solid white;
  border-left: 0px;
}
.opacidad {
  background-color: rgba(0, 0, 0, 0.5);
}



.bg-image2 {
  background-image: url('../assets/images/conduce.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
}

footer {
  background-color: #2B2B2B;
}